@charset "UTF-8";

/*  ------------------------
    A PROPOS
    ------------------------  */
.a_propos {
    margin: 30px auto 10px;
    box-sizing: border-box;
}

.autoportrait {
    width: 35%;
    display: block;    
    float: right;
    margin-left: 40px;
    margin-bottom: 40px;
    
}

.autoportrait img {
    margin: 0px auto;
    width: 100%;
    height: auto;
}
figcaption {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2em;
}

.a_propos::after {
    content: '';
    display: block;
    clear: both;
}

@media screen and (max-width: 768px) {
    .autoportrait {
        width: 100%;
    }
    .autoportrait img {

        display: table;
        width: 70%;
        border: 1px dotted red;
    }
    figcaption {
        width: 70%;
        margin: 0px 15%;
    }
}


/*  ------------------------
    PARCOURS
    ------------------------  */

.parcours dd {
    margin-bottom: 2rem;
    /* border: 1px dotted violet; */
}

.parcours ul {
    margin-left: 4em; 
}

.parcours li {
    list-style-type: none;
    margin-top: 1rem;
}