@charset "UTF-8";

/*  ------------------------
    ACTUALITÉ
    ------------------------  */
.actu {
    box-sizing: border-box;
    /* border: thin solid red; */
}

.news {
    width: 35%;
    /* display: box; */
    float: left;
    margin-right: var(--demi-padding);
    margin-bottom: var(--demi-padding);
    /* border: thin solid pink; */
    
}

.news img {
    margin: 0px auto;
    width: 100%;
    height: auto;
}
figcaption {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2em;
    margin: 0px auto;
    text-align: left;
}

.actu::after {
    content: '';
    display: block;
    clear: both;
}

@media screen and (max-width: 768px) {
    .news {
        /* border: 1px dotted blue; */
        width: 100%;
    }
    .news img {
        display: table;   
        width: 80%;
        /* border: 1px dotted red; */
    }
    .news figcaption {
        width: 80%;
        margin: 3px 10%;
        /* border: 1px dotted green; */
    }
}


