@charset "UTF-8";

/*  ------------------------
    CONTACT
    ------------------------  */
.info {
    /*border: 1px dotted gray;*/
}

.contact {
    display: block;
    float: left;
    height: 400px;
    margin-right: 80px;
    /* border: 1px dotted green; */
    
}

.social_media {
    display: block;
    float: left;
    height: 400px;
    margin-right: 20px;
    margin-right: 60px;
    padding: 60px 0px;
    /* border: 1px dotted deeppink; */
}

.social_media img{
    height: 250px;
    width: auto;
    margin: 0px auto;
    /*border: 1px dotted yellow;*/
}

.social_media figcaption {
    text-align: center;
}

.info::after {
    content: '';
    display: block;
    clear: left;

    /*border: 1px dotted black;*/
}