@charset "UTF-8";

:root {
--main-LR-padding: 80px;
}

/*  ------------------------
    NAV:
    Sub-Menu for projets
    ------------------------  */
.sub_menu {
    display: block;
    background: white; 
    
    font-size: 1.2rem;
    line-height: 1.7rem;
    word-wrap: break-word;  
    letter-spacing: 1px;
    /* border: 1px dotted gray; */
}

@media screen and (max-width: 768px) {
    
}
@media screen and (min-width: 769px) {
    .sub_menu {
        width: 30%;
        height: 90vh;
        position: fixed; 
        bottom: 0px;
        left: 70%;
        padding-top: 400px;
        padding-left: 20px;
        padding-right: var(--main-LR-padding); 
        padding-bottom: 20px ; 
    

        /* background: rgba(213, 213, 213, 0.4); */
        /* background: linear-gradient(rgb(186, 186, 186),rgb(255, 255, 255)); */
        /* 加上從上滑下來的漸進效果 */
    }
}


.sub_menu p {
    padding: 0px;
    margin: 10px auto;
    /* border: thin dotted rgb(53, 160, 106); */
}

/*
.sub_menu a:hover {
    font-style: italic;
}
*/




/*  ------------------------
    Projet Gallery
    ------------------------  */

.projet_list, .projet {
    box-sizing: border-box;
}
.projet_list {
    /* border: 1px dotted gray; */
    width: 70%;
    display: block;
}
.projet {
    /* display: box; */
    width: 100%;
    padding: 0px;
    padding-top: 8vh;
    padding-bottom: 22vh;
    /* border: thin dotted rgb(53, 160, 106); */
}
.projet img{
    display: table;
    margin: auto;
    width: 78%;
    height: auto;
    border: 0;
}
.projet.long img{
    width: 53%;
}
.projet.carre img{
    width: 63%;
}
.projet.pluslong img{
    width: 45%;
}
.projet figcaption {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .projet_list {
        width: 100%;
    }
    .projet {
        padding-top: 8vh;
        padding-bottom: 10vh;
    }
    .projet img, .projet.long img, .projet.carre img, .projet.pluslong img {
        width: 80%;
        height: auto;      
    }
    .projet figcaption {
        width: 80%;
        margin: 0px auto;
        text-align: left; 
    }
}