@charset "UTF-8";

/*  ------------------------
    NAV:
    Sub-Menu for projets
    ------------------------  */
.sub_menu {
    padding: 20px 80px 20px 20px ;
    display: box;
    font-size: 1.2rem;
    line-height: 1.7rem;
    word-wrap: break-word;  
    background: white; 
}
.sub_menu_title {
    letter-spacing: 2px;
}
@media screen and (max-width: 768px) {
    main {
        padding: 0px;
    }
    .sub_menu {
        /*border: 1px dotted gray;
        background: rgb(255, 215, 222);*/
        padding: 40px;
    }
}
@media screen and (min-width: 769px) {
    .sub_menu {
        position: fixed;
        width: 30%;
        height: 95vh;
        top: 0px;
        left: 70%;
        padding-top: 450px;
        z-index: 2;

        /* background: rgba(213, 213, 213, 0.4); */
        /* background: linear-gradient(rgb(186, 186, 186),rgb(255, 255, 255)); */

        /* border: 1px dotted gray; */
        /* 加上從上滑下來的漸進效果 */

    }
}


.sub_menu p {
    padding: 0px;
    margin: 10px auto;
    /* border: thin dotted rgb(53, 160, 106); */
}

/*
.sub_menu a:hover {
    font-style: italic;
}
*/




/*  ------------------------
    Projet Gallery
    ------------------------  */

main {
    /* padding: 0px; */
}

.projet_list, .projet {
    box-sizing: border-box;
}

.projet_list {
    /* border: 1px dotted gray; */
    width: 70%;
    display: block;
}

.projet {
    /* display: box; */
    width: 100%;
    padding: 0px;
    padding-top: 10vh;
    padding-bottom: 15vh;
    /* border: thin dotted rgb(53, 160, 106); */
}
@media screen and (max-width: 768px) {
    .projet_list {
        width: 100%;
    }
    .projet {
        padding-top: 8vh;
        padding-bottom: 10vh;
    }
}



.projet img{
    display: table;
    margin: auto;
    width: 78%;
    height: auto;
    border: 0;
}
.projet.long img{
    width: 53%;
}
.projet.carre img{
    width: 63%;
}
.projet.pluslong img{
    width: 45%;
}
@media screen and (max-width: 768px) {
    .projet.long img{
        height: 56vh;
        width: auto;
    }
}
/*
.projet.large img{
    width: 78%;
}
*/

.projet figcaption {
    text-align: center;
    
}

