@charset "UTF-8";

/*  ------------------------
    NAV:
    Sub-Menu for projets
    ------------------------  */
.sub_menu {
    display: block;
    box-sizing: border-box; 
    background: white; 
    
    font-size: 1.2rem;
    line-height: 1.7rem;
    word-wrap: break-word;  
    letter-spacing: 1px;
    /* border: 1px dotted gray; */
}

.titre_list {
    display: block;
    width: 100%;
}


@media screen and (min-width: 769px) {
    .sub_menu {
        width: 30%;
        height: 90vh;
        position: fixed; 
        bottom: 0px;
        left: 70%;
        
        padding-left: 1%;
        padding-bottom: 15vh ; 
    }

    
    .sub_menu::before{
        content: '';
        width: 0px;
        height: 100%;
        display: inline-block;
        position: relative;
        vertical-align: bottom;
        /* border: 1px dotted deeppink; */
    } 
    /* border: 1px dotted deeppink; */
   
    .titre_list {
        /* border: 1px dotted rgb(250, 120, 144); */
        display: inline-block;
        width: 80%; 
    }
    
}

.sub_menu p {
    padding: 0px;
    margin: 10px auto;
    /* border: thin dotted rgb(53, 160, 106); */
}


.sub_menu a {
    position: relative;
    width: 100%;
    
    background-image: linear-gradient(
        transparent 50%,
        rgba(255,69,0,0.2) 100% 
    );
    
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 2s;
}
.sub_menu a:hover {
    background-size: 100% 100%;
    /* border: thin dotted rgb(53, 160, 106); */
    /* font-weight: bold; */
}





/*  ------------------------
    Projet Gallery
    ------------------------  */

.projet_list, .projet {
    box-sizing: border-box;
}
.projet_list {
    /* border: 1px dotted gray; */
    width: 70%;
    display: block;
}
.projet {
    display: block;
    width: 100%;
    padding: 0px;
    padding-top: 8vh;
    padding-bottom: 22vh;
    /* border: thin dotted rgb(53, 160, 106); */
}

.projet img, .projet .t_extrait{
    display: table;
    margin: auto;
    width: 78%;
    height: auto;
}
.projet img{
    border: 0;
}
.projet.long img{
    width: 53%;
}
.projet.carre img{
    width: 63%;
}
.projet.pluslong img{
    width: 44%;
}
.projet figcaption, .projet .txtcaption {
    text-align: center;
    margin: 3px 11%; 
    /* border: 1px dotted red; */
}


.projet .t_extrait {
    padding: 2%;
    border: thin dotted var(--light-txt-color);
    box-shadow: 3px 3px 2px var(--light-txt-color);
    /*border: 1px dotted pink; */
}
.projet small {
    font-size: 0.8em;
}

@media screen and (max-width: 768px) {
    .projet_list {
        width: 100%;
    }
    .projet {
        padding-top: 8vh;
        padding-bottom: 10vh;
    }
    .projet img, .projet.long img, .projet.carre img, .projet.pluslong img, 
    .projet .t_extrait,
    .projet figcaption, .projet .txtcaption {
        width: 80%;
        height: auto;      
    }
    .projet figcaption, .projet .txtcaption {
        margin: 0px auto;
        text-align: left; 
    }
}

.projet img:hover{
    opacity: 0.7;
}
.projet .t_extrait:hover {
    color: var(--link-hover-color);
    box-shadow: 5px 5px 3px var(--light-txt-color);
}