@charset "UTF-8";

/*  ------------------------
    Project Slideshow
    ------------------------  */

.display_container{
    box-sizing: border-box;
    margin: 40px auto 200px;
    width: 100%;
    /* border: dotted thin gray; */
}
.slide {
    width: 100%;
    margin: 0px auto;
    /* border: dotted thin pink; */
}
.slide img {
    display: table;
    margin: auto;
    height: 78vh;
    width: auto;
    border: 0;
    /* border: dotted thin red; */
}

.slide figcaption {
    width: 65%;
    margin: 0px auto;
    padding: 5px 0px 5px; 
    line-height: 1.2em; 
    /* border: dotted thin blue; */
}

@media screen and (max-width: 768px) {
    .display_container{
        margin: 20px auto 100px;
    }
    .slide figcaption {
        width: 80%;
        margin: 0px auto;
        text-align: left; 
        border: dotted thin yellow; 
    }
}
@media screen and (orientation: portrait) and (max-width: 768px) {
    .slide img {
        height: 36vh;
        width: auto;       
         border: dotted thin red; 
    }
}
@media screen and (orientation: landscape) and (max-width: 768px) {
    .slide img {
        width: 80%;
        height: auto;
        border: dotted thin green; 
    }
}


.slide_ctrl { 
    text-align: center;
    vertical-align: bottom;
    font-size: 0.9em; 
    color: rgb(188, 188, 188);
    line-height: 1em;
    /* border: thin solid pink; */
}
.slides_btn{
    border: none;
    display: inline-block;
    text-decoration: none;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    white-space: nowrap;
    padding: 0px 20px;
    vertical-align: middle;
    text-align: center;
}


/*  ------------------------
    Sub Menu
    ------------------------  */

@media screen and (min-width: 769px) {
    .sub_menu {
        width: 50%;
        position: fixed;
        right: 80px;
        top: 12px;

        margin-top: -5px;
        text-align: right;
        /* border: thin solid pink; */
    }
}
.sub_menu {
    line-height: 1.5em;
    /* border: thin solid pink; */
}
.sub_menu_title {
    font-size: 0.9em;
}
.titre {
    text-align: left;
    font-size: 1.2em;
}
@media screen and (max-width: 768px) {
    .sub_menu_title {
        font-size: 0.8em;
    }
    .titre {
        font-size: 1em;
    }
}

/*  ------------------------
    Project Info
    ------------------------  */

.projet_info {
    /*
    width: 50%;
    margin: 0px auto;
    position: fixed;
    left: 50%;
    top: 10px;
*/
    /* word-wrap:break-word; */
    /* border: thin solid pink; */
}


/*  ------------------------
    Retour
    ------------------------  */

.retour {
    padding-top: 200px;
    text-align: right;
    text-decoration: underline;
}

main {
    padding-bottom: 2%;
}