@charset "UTF-8";

/*  ------------------------
    Slide Show
    ------------------------  */

#img_slideshow, #img_slideshow img {
    z-index: -10;
    /* border: 1px dotted green; */
}
.carousel-inner {
    min-width: 400px;
    /* border: 1px dotted gray; */
}

@media screen and (orientation: portrait) {
    .carousel-inner > .item > img {
        margin: 30px auto;
        max-height: 45vh;
        width: auto;
        /*border: 1px dotted lightgreen; */
    }
}
@media screen and (orientation: landscape) {
    .carousel-inner > .item > img {
        margin: 30px auto;
        height: 73vh;
        width: auto;
        /* border: 1px dotted lightgreen; */
    }
}

.carousel-inner > .item > img {
    margin: 30px auto;
    height: 73vh;
    width: auto;
    /* border: 1px dotted lightgreen; */
}

/*
.logo:hover + a > .carousel > .carousel-inner > .item > img {
    filter: opacity(30%);
}

*/