/*  ------------------------
    Slide Show
    ------------------------  */

#img_slideshow, #img_slideshow img {
    z-index: -10;
    /* border: 1px dotted green; */
}
.carousel-inner {
    /* border: 1px dotted gray; */
}
.carousel-inner > .item > img {
    margin: 30px auto;
    max-height: 73vh;
    min-height: 73vh;
    width: auto;
    height: auto;
    /* border: 1px dotted lightgreen; */
}

/*
.logo:hover + a > .carousel > .carousel-inner > .item > img {
    filter: opacity(30%);
}

*/