@charset "UTF-8";
@import "burger_shape.css"; 

:root {
    --main-txt-color: rgb(126, 126, 126);
    --light-txt-color: rgb(188, 188, 188);
    --link-hover-color: rgb(30, 30, 30);
    
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 12.5px;
    /* font-size: 62.5%; */ /* 16px (default) * 62.5% = 10px */
}
html, body {
    height: 100%;
}

/* Index Background Image */
body.index {
    background-image: url("../img/bg_MG_8167.jpg");
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
}

body {
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.6px;
    color: var(--main-txt-color);
}
body.index {
    /* opacity: 0.7; */
}

a:hover, a:link, a:visited, a:active {
    color: var(--main-txt-color);
    text-decoration: none;
    letter-spacing: 2px;
}

header, footer {
    margin: 0;
    padding: 10px 80px;
    /* border: 1px dotted red; */
}
main {
    margin: 0;
    padding: 0px 80px;
}



/*  ************************************************
----------------------------------------------------
    HEADER (Logo + Menu + Language option)
----------------------------------------------------
************************************************  */

header {
    display: block;
    position: fixed;
    width: 100%;
    background-color: white;
    background-color: rgba(250, 138, 80, 0.3);
}
body.index header {
    height: 100%;
    padding: 10px 40px;
    background-color: transparent;
    /* border: 1px dotted red; */
    background-color: rgba(250, 138, 80, 0.3); 
}



/*  
------------------------------------------------
    NAV (dropdown menu)
------------------------------------------------  
*/
.main_menu {
    display: block;  
    width: 280px;
    text-align: left;
    border: 1px dotted violet;
    /* background-color: rgba(250, 172, 89, 0.3); */
}
body.index .main_menu {
    width: 520px;
    height: 80%;
    
    margin-left: 5px;
    margin-top: 5px; 
    
    border: 2px dotted rgb(130, 0, 0);
}

/*  
------------------------
    LOGO
------------------------  
*/
.logo {
    display: inline-block;
    width: 200px;
    line-height: 40px;
    font-size: 1.4em;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;   
    /* border: 1px dotted violet; */
}
.logo a {
    color: var(--light-txt-color);
}
body.index .logo a {
    color: var(--main-txt-color);
}
.main_menu:hover > .logo a {
    color: var(--main-txt-color);
}
body.index .main_menu:hover > .logo a {
    color: rgb(73, 73, 73); 
}
.logo a:hover, 
.main_menu:hover > .logo a:hover, 
body.index .main_menu:hover > .logo a:hover {
    color: var(--link-hover-color);
}


/*  
------------------------
    Menu List
------------------------  
*/
.menu_list {
    display: none;
    position: absolute; 
    width: 230px;
    margin: 0px;
    /* z-index: 1; */

    text-align: left; 
    border: 1px dotted gray;
}
body.index .menu_list {
    top: 60px;
    left: 20%;
    /* border: 1px dotted gray; */
}
.menu_list li {
    padding: 4px 0px;
}
.menu_list a {
    display: inline-block; 
    padding: 5px 0px;
    font-size: 1em;
    /* border: 1px dotted red; */
}
.menu_list a:hover {
    color: var(--link-hover-color);
}  


/*  
------------------------
    Language Options
------------------------  
*/
.langue_list {
    display: none;
    position: absolute; 
    width: 230px;
    margin: 0px;

    top: 420px;
    
    text-align: right;
    border: 1px dotted gray;
}
body.index .langue_list {
    left: 20%;
}
.langue_list li {
    display: inline;
}
.langue_list input {
    display: none; 
}
.langue_list label {
    cursor: pointer;
}
.langue_list label:hover {
    color: var(--link-hover-color);
}


/*  
------------------------
    A screen-size whiteboard
------------------------  
*/
#voile {
    display: none;
    margin: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1 ; 
    
    background-color: #fff;
    /* 試試看voile 設個顏色*/
    opacity: 0.9;
    
    /* border: 1px dotted blue; */
}
body.index #voile {
    opacity: 0.4;
}



/*  
------------------------------------------------
    Responsive dropdown 
------------------------------------------------ 
*/
#burger {
    display: none;
}

/*  
------------------------
    When Logo hovered or burger checked, 
    show the menu with a whiteboard
------------------------  
*/
.main_menu:hover .langue_list, #burger:checked ~ .main_menu .langue_list,
.main_menu:hover + #voile, #burger:checked ~ #voile {
    display: block;
}

/* ---------------- small screen ---------------- */
@media screen and (max-width: 768px) {
    /*  
    ------------------------
        Small screen: header 
    ------------------------  
    */
    header, main, footer {
        padding: 10px 25px;
        border: 2px dotted violet; 
    }

    body.index .main_menu {
        border: 1px dotted violet; 
    }
    .logo {
        line-height: 30px;
        font-size: 1.8rem;
    }
    .menu_list li {
        padding: 2px 0px;
    }
    .menu_list a {
        display: block;
        padding: 3px 0px;
        font-size: 1.2rem;
    }  
    

    body.index .menu_list {
        top: 60px; 
        left: 295px;
    }
    body.index .langue_list {
        top: 320px; 
        left: 295px; 
    }
}

/* ---------------- tiny screen ---------------- */
@media screen and (min-width: 421px) and (max-width: 550px) {
    body.index .menu_list {
        /* top: 90px; */
        left: 200px; 
    }
    body.index .langue_list {
        top: 300px; 
        left: 200px; 
    }
}
@media screen and (max-width: 420px) {
    body.index .menu_list {
        /* top: 90px; */
        left: 120px; 
    }
    body.index .langue_list {
        /* top: 90px; */
        left: 120px; 
    }
}


/* ---------------- big screen ---------------- */
@media screen and (min-width: 769px) {
    
    /*  
    ------------------------
        Hide burger toggle
    ------------------------  
    */
    .toggle, .toggle::before, .toggle::after {
            display: none;
    }  
    
    
} 

@media screen and (min-width: 1025px) and (max-width: 1200px) {

    body.index .menu_list {
        top: 110px;
        left: 19%;
        /* border: 1px dotted red; */
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {

    body.index nav.main_menu {
        margin-left: 5%;
    }
    body.index .menu_list {
        top: 110px;
        left: 40%;
        /* border: 1px dotted pink; */
    }
}


/*  
------------------------
    NAV:hover 
    add underline & change color
------------------------  
*/

/* !!!sub_menu 作品標題換行有bug */
nav a {
    position: relative;
}
nav a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 2px;
    bottom: -1px;
    left: 0; 
    background-color: rgb(113, 113, 113);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s;
}
nav a:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}










/*  ************************************************
----------------------------------------------------
    MAIN
----------------------------------------------------
************************************************  */

main::before {
    content: '';
    display: block;
    height: 60px;
    margin: 0px;
    /* border: 1px dotted violet; */
}
main {
    padding-bottom: 180px;
    min-height: 95vh;
    line-height: 2em;
}

.hidden {
    display: none !important;
}

h2 {
    display: block;
    line-height: 6rem;
    font-size: 1.8rem;
    font-weight: 300;
    /*border: 1px dotted red; */
}

h2.hidden_title {
    display: block;
    color: transparent;
    /* border: 1px dotted violet; */
}

h3 {
    line-height: 4rem;
    font-size: 1.6rem;
    font-weight: 250;
    text-decoration: underline;
}

h4 {
    line-height: 3rem;
    font-size: 1.4rem;
    font-weight: 220;
    /* border: 1px dotted violet; */
}

main section {
    margin-bottom: 20px;
    padding-top: 60px;
    /*border: 1px dashed deeppink; */
}

main p {
    display: block;
    margin: 0px auto 2rem;
}

main strong {
    font-size: 1.1em;
}

img {
    max-width: 100%;
    height:auto;
}

figcaption {
    letter-spacing: 1px;
    text-align: center;
}
@media screen and (max-width: 768px) {
    figcaption {
        /* width: 100%; */
        font-size: 1em; 
        /* border: 1px dashed deeppink; */
    }
}

.t_bleu {
    color: rgba(78, 108, 173, 0.8);
    /* border: 1px dashed deeppink; */
}



/*  ************************************************
----------------------------------------------------
    Footer
----------------------------------------------------
************************************************  */

footer {
    text-align: center; 
    color: rgb(188, 188, 188);
}
body.index footer {
    display: none;
}

@media screen and (max-width: 768px) {
    footer {
        font-size: 0.6em;
        /* border: 1px dashed deeppink; */
    }
}


