@charset "UTF-8";
@import "burger_shape.css"; 

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 12.5px;
    /* font-size: 62.5%; */ /* 16px (default) * 62.5% = 10px */
}
html, body {
    height: 100%;
}
body {
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.6px;
    color: #666;
}

a:link, a:visited, a:active {
    color: #666;
    text-decoration: none;
    letter-spacing: 2px;
}


header, main, footer {
    margin: 0px;
    padding: 10px 80px;
    /* border: 1px dotted red; */
}

/*  ************************
    ------------------------
    HEADER (Logo + Menu)
    ------------------------
    ************************  */
header {
    display: block;
    position: fixed;
    z-index: 2;
    background-color: white;
    width: 100%;
    min-width: 350;
    /* border: 1px dotted blue; */
}

#voile {
    display: none;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    opacity: 0.85;
    position: fixed;
    z-index: 0 ; 
}

.logo {
    width: 270px; 
    display: block;  
    text-align: left;
    /* border: 1px dashed red; */
}
.logo_btn {
    width: 100%;
    line-height: 60px;
    font-size: 2.2rem;
    font-weight: bold;
    vertical-align: middle;   
    display: inline-block; 
    /* position: relative; */ /* ref position for main_menu */
    /* border: 1px dashed violet; */
}

/*  ------------------------
    NAV (dropdown menu)
    ------------------------  */
#burger {
    display: none;
}

.main_menu {
    display: none;
    position: absolute;
    width: 230px;
    margin: 0px;
    z-index: 1;
    text-align: left; 
    /* border: 1px dotted gray; */

    /*overflow: hidden;*/
    float: left;
}

.main_menu a {
    display: block;
    padding: 10px 0px;
    font-size: 1.3rem;
    
    /* border: 1px dotted gray; */
}
.main_menu a:hover {
    /*
    background-color: rgb(90, 150, 255);
    color: white;
    */
}

/*  ------------------------
    Responsive dropdown 
    ------------------------  */
    @media screen and (max-width: 600px) {
    
        #burger:checked ~ .logo .main_menu {
            display: block;
        }
        #burger:checked ~ .logo .logo_btn {
            text-decoration: underline;
        }
        #burger:checked ~ #voile {
            display: block;
        }
    
    }
    
    @media screen and (min-width: 601px) {
        .toggle, .toggle::before, .toggle::after {
            display: none;
        }  

        /*  ------------------------
            Logo hovered
            ------------------------  */
        .logo:hover .main_menu {
            display: block;
        }
        .logo:hover .logo_btn {
            text-decoration: underline;
        }
        .logo:hover + #voile {
            display: block;
        }
    } 


    



/*  ************************
    ------------------------
    MAIN
    ------------------------
    ************************  */

main::before {
    content: '';
    display: block;
    height: 60px;
    margin: 0px 0px 10px;
    /* border: 1px dotted brown; */
}
main {
    min-height: 95vh;
    line-height: 2em;
    
}

h2 {
    display: block;
    line-height: 6rem;
    font-size: 1.8rem;
    font-weight: 300;
    /*border: 1px dotted red; */
}
h2.hidden_title {
    display: block;
    color: transparent;
    /* border: 1px dotted violet; */
}

h3 {
    line-height: 4rem;
    font-size: 1.6rem;
    font-weight: 250;
    text-decoration: underline;
}

main section {
    margin-bottom: 20px;
    padding-top: 60px;
    /*border: 1px dashed deeppink; */
}

main p {
    display: block;
    margin: 0px auto 2rem;
}

/*  ************************
    ------------------------
    Footer
    ------------------------
    ************************  */
footer {
    text-align: center; 
}