@charset "UTF-8";

/*  ------------------------
    Burger to X 
    ------------------------  */
#burger {
  display: block;
  position: fixed;
  top: 10px;
  left: 20px;
}
.toggle, .toggle:before, .toggle:after {
  cursor: pointer;
  border-radius: 3px;
  height: 5px;
  width: 35px;
  background: black;
  border: 3px solid white;
  display: block;
  content: '';

  position: fixed;
  top: 100px;
  left: 20px;
 
}
.toggle:before {
  top: 90px;
  left:20px;
}
.toggle:after {
  top: 110px;
  left:20px;
}

.toggle, .toggle:before,.toggle:after {
  transition: all 200ms ease-in-out;
}
#burger:checked + .toggle {
  background-color: transparent;
}
#burger:checked + .toggle:before, #burger:checked + .toggle:after {
  top: 100px;
  border: 0px;
  
}
#burger:checked + .toggle:before {
  transform: rotate(45deg);
}
#burger:checked + .toggle:after {
  transform: rotate(-45deg);
}
  